<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Registration Confirmation</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
		
	<link rel="stylesheet" th:href="@{/css/message.css}" />
	<link rel="stylesheet" th:href="@{/css/nav.css}" />
</head>
<body>

	<nav th:insert="fragments/nav-login.html :: nav"></nav>

	<br><br><br>

	<div class = "container">
		<h2>User Registered Successfully</h2>
	
		<hr>
		
		<!-- Link back to Login Page -->
		<a th:href = "@{/login/showLoginPage}">Login Page</a>
	</div>

</body>

</html>