<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Employees Profile</title>

    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
            rel="stylesheet">

    <!-- Local CSS File -->
    <link rel="stylesheet" th:href="@{/css/nav.css}"/>
</head>

<body>

<nav th:insert="fragments/nav-logout.html :: nav"></nav>

<br><br>
<div class="card ms-5 mt-5 w-50">

    <h5 class="card-header"><span th:text="${firstName}"></span> Profile</h5>

    <ui class="list-group list-group-flush">
        <li class="list-group-item">Employee ID: <span th:text="${employeeId}"></span></li>
        <li class="list-group-item">Username: <span th:text="${username}"></span></li>
        <li class="list-group-item">Password: <span th:text="${maskedPassword}"></span></li>
        <li class="list-group-item">First Name: <span th:text="${firstName}"></span></li>
        <li class="list-group-item">Last Name: <span th:text="${lastName}"></span></li>
        <li class="list-group-item">Email: <span th:text="${email}"></span></li>
    </ui>

</div>

</body>

</html>