<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Nav Login Bar</title>

    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
            rel="stylesheet">

    <!-- Local CSS File -->
    <link rel="stylesheet" th:href="@{/css/nav.css}"/>
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-sm" style="background-color: #8080c0;">
        <a class="navbar-brand nav-heading-brand ms-5" th:href="@{/}">CRM</a>

        <ul class="navbar-nav mr-auto mb-auto">
            <li class="nav-item active">
                <a class="nav-link nav-heading" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class = "nav-link nav-heading" th:href="@{/}">About</a>
            </li>
        </ul>

        <!-- Login Button -->
        <div class = "navbar-nav ms-auto me-4">
            <a th:href = "@{/login/showLoginPage}"
               class = "btn btn-outline-dark">
                Login
            </a>
        </div>
    </nav>

</body>
</html>